//animation: spin 2s linear infinite;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes float2 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.spin {
  animation: spin 2s linear infinite;
}

.move-1 {
  animation: float 3s ease-in-out infinite;
}

.move-2 {
  animation: float 2.8s ease-in-out infinite;
}

.move-3 {
  animation: float2 3s ease-in-out infinite;
}

.spin,
.move-1,
.move-2,
.move-3 {
  will-change: transform;
  pointer-events: none;
}
