:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
  overscroll-behavior-y: none;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--green-gradient);
  color: var(--white);
  font-family: var(--font);
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  touch-action: manipulation;
  overscroll-behavior: contain;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

img {
  display: block;
  object-fit: cover;
  user-select: none;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  transition: 0.3s;
  &:disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.2;
  }
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.green {
  color: var(--green);
}

.green-light {
  color: var(--green-light);
}

.red {
  color: var(--red);
}

.section {
  display: block;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
}

.close-app {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: url('../img/svg/close.svg') no-repeat center center/cover;
  z-index: 15;
}

.custom-scrollbar {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  display: block;
  width: 100%;
  position: relative;
  max-height: 294px;
  overflow-x: hidden;
  overflow-y: auto;
  * {
    overscroll-behavior: none;
  }

  &.simplebar-scrollable-y {
    padding-right: 16px;
  }
}

.simplebar-track.simplebar-vertical {
  width: 6px;
  border-radius: 3px;
  background: #dfdfdf;
}

.simplebar-scrollbar:before {
  background-color: #ffffff;
  width: 6px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 1 !important;
  border-radius: 3px;
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 1.1;
  text-transform: uppercase;
  padding-top: 0.1em;
  &.title--40 {
    font-size: 40px;
    line-height: 1.05;
  }
  &.title--28 {
    font-size: 28px;
    line-height: 1.1;
  }
  &.title--20 {
    font-size: 20px;
    line-height: 1.1;
  }
  &.title--18 {
    font-size: 18px;
    line-height: 1.2;
  }

  @media (max-width: 374px) {
    font-size: 28px;
    &.title--40 {
      font-size: 40px;
    }
    &.title--28 {
      font-size: 28px;
    }
    &.title--20 {
      font-size: 20px;
    }
    &.title--18 {
      font-size: 18px;
    }
  }
}
