.section--winners {
  margin-bottom: auto;
  padding: 20px;
  padding-top: 80px;
  .custom-scrollbar {
    max-height: 350px;
  }
}

.winners {
  display: flex;
  flex-direction: column;
  width: 100%;
  &:before {
    content: '';
    display: block;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: var(--white);
  }

  li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
    padding: 13px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    &:first-child {
      border-top: none;
    }

    span,
    b {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1;
      width: 100%;
    }
  }
}

.winners__left,
.winners__right {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
}

.winners__left {
  width: 140px;
  span {
    &:first-child {
      text-transform: none;
    }
    &:last-child {
      opacity: 0.3;
    }
  }
  @media (max-width: 359px) {
    width: 108px;
  }
}

.winners__right {
  flex: 1;
  text-align: left;
}

.filters {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 9px;
}
