.section--quiz {
  display: flex;
  margin-bottom: auto;
  padding: 20px;
  padding-top: 80px;
  flex: 1;
  .container {
    flex: 1;
  }
  .label {
    min-width: 34%;
  }
}

.quiz {
  width: 100%;
  height: 100%;
  max-width: 375px;
  overflow: visible;

  .swiper-slide {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.6s;
    &.swiper-slide-active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.strawbarry {
  width: 52px;
  position: absolute;
  left: -10px;
  bottom: -20px;
}

.marakuya {
  width: 55px;
  position: absolute;
  right: -10px;
  bottom: -20px;
}

.melon1 {
  width: 94px;
  position: absolute;
  left: 0px;
  top: 200%;
}

.melon2 {
  width: 60px;
  position: absolute;
  right: -10px;
  bottom: -30px;
}

.melon3 {
  width: 56px;
  position: absolute;
  right: -10px;
  bottom: -18px;
}

.blueberry {
  width: 45px;
  position: absolute;
  right: -10px;
  bottom: -15px;
}

.orange {
  width: 60px;
  position: absolute;
  right: -10px;
  bottom: -15px;
}

[data-question-number] {
  display: inline-block;
  width: auto;
  min-width: 14px;
}

.my-variant {
  + .label {
    display: none;
  }

  &.active {
    background: var(--white);
    span {
      color: var(--violet);
    }
    + .label {
      display: block;
    }
  }
}
